In [1]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv("Train_details_22122017.csv")

/Users/siva/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0,2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
train.head()

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name
0,107,SWV-MAO-VLNK,1,SWV,SAWANTWADI R,00:00:00,10:25:00,0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
1,107,SWV-MAO-VLNK,2,THVM,THIVIM,11:06:00,11:08:00,32,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
2,107,SWV-MAO-VLNK,3,KRMI,KARMALI,11:28:00,11:30:00,49,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
3,107,SWV-MAO-VLNK,4,MAO,MADGOAN JN.,12:10:00,00:00:00,78,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
4,108,VLNK-MAO-SWV,1,MAO,MADGOAN JN.,00:00:00,20:30:00,0,MAO,MADGOAN JN.,SWV,SAWANTWADI ROAD

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186124 entries, 0 to 186123
Data columns (total 12 columns):
Train No                    186124 non-null category
Train Name                  186124 non-null category
SEQ                         186124 non-null object
Station Code                186124 non-null object
Station Name                186124 non-null object
Arrival time                186119 non-null object
Departure Time              186119 non-null object
Distance                    186119 non-null object
Source Station              186114 non-null category
Source Station Name         186114 non-null category
Destination Station         186114 non-null object
Destination Station Name    186114 non-null category
dtypes: category(5), object(7)
memory usage: 12.6+ MB

In [18]:
train["Destination Station Name"] = train["Destination Station Name"].astype("category")