In [2]:
import pandas as pd

In [7]:
stats = pd.read_csv("TEDViz.csv", index_col="Date", parse_dates=True)

In [6]:
stats.head()

,Date,TED_Subscribers,TED_Views,TEDx_Subscribers,TEDx_Views,TEDEd_Subscribers,TEDEd_Views
0,12/27/17,"8,640,554","949,556,620","10,132,388","1,977,817,137","5,599,119","806,611,236"
1,12/28/17,"8,648,717","950,180,787","10,145,303","1,980,224,258","5,605,097","807,290,552"
2,12/29/17,"8,656,213","950,778,199","10,162,828","1,982,747,490","5,610,252","807,930,129"
3,12/30/17,"8,664,163","951,384,860","10,178,795","1,985,296,682","5,616,612","808,618,615"
4,12/31/17,"8,670,817","951,916,621","10,190,566","1,987,445,371","5,621,778","809,235,618"

In [12]:
stats["TED_Views"] = stats["TED_Views"].str.replace(',', '')

Date
2017-12-27    949556620
2017-12-28    950180787
2017-12-29    950778199
2017-12-30    951384860
2017-12-31    951916621
2018-01-01    952497999
2018-01-02    953295807
2018-01-03    954173172
2018-01-04    955013352
2018-01-05    955909419
2018-01-06    956690640
2018-01-07    957515940
2018-01-08    958351151
2018-01-09    959130952
2018-01-10    959941442
2018-01-11    960741702
2018-01-12    961499585
2018-01-13    962218775
2018-01-14    962929570
2018-01-15    963713140
2018-01-16    964453263
2018-01-17    965237843
2018-01-18    966004599
2018-01-19    966750143
2018-01-20    967442299
2018-01-21    968139547
2018-01-22    968905407
2018-01-23    969664887
2018-01-24    970467778
2018-01-25    970726091
Name: TED_Views, dtype: object