In [1]:
import pandas as pd

In [2]:
euler = pd.read_csv("data.csv")

In [3]:
euler.head()

,Country,Total Number of Members,Percentage of Members at Level 1+,Mean Percentage of Problems Solved
0,Afghanistan Afghanistan,65,18.50%,2.90%
1,Albania Albania,120,30.80%,3.60%
2,Algeria Algeria,184,22.80%,3.30%
3,Andorra Andorra,34,32.40%,3.90%
4,Angola Angola,16,25%,2.90%

In [15]:
euler["Total Number of Members"]

Total = euler.sort_values(by="Total Number of Members", ascending=False, na_position='first')

Total.head(10)

,Country,Total Number of Members,Percentage of Members at Level 1+,Mean Percentage of Problems Solved
206,USA USA,40991,38.40%,5%
89,India India,12102,24.40%,3.20%
73,Germany Germany,8491,40.10%,5.30%
60,England England,7880,37.20%,4.90%
32,Canada Canada,6656,37.40%,4.80%
39,China China,5637,40.90%,5.60%
68,France France,5110,45.20%,6.40%
161,Russia Russia,4525,38.40%,5.60%
188,Sweden Sweden,4130,39.20%,5.10%
139,Netherlands Netherlands,3902,43.70%,5.90%